img{
   margin: auto;
   display: block;
   float: left;
   border-radius: 70px;
}
img:hover{
   box-shadow: 2px 2px 2px 2px gray;
}
div{
   margin: auto;
   display: inline-block;
   float: inline-end;
   padding-left: 10px;
   
}